/* General styles */
* {
  box-sizing: border-box;
}

body {
  background: url(Assets/wedding-landing-background.png) repeat center;
  background-size: cover;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 1.12rem;
  color: #444349;
  line-height: 1.5;
}

.location,.program,.gifts,.QandA,.contact {
  margin: 1.75rem auto;
  padding: .5rem 1rem;
  text-align: center;
  width: 95%;
}

h1, h2 {
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover: {
  color: #eda087;
  transition: color .15s ease-in-out;
}

/* vertical rhythm */
h1,h2,h3,
ul,p,img {
  margin-bottom: 1rem;
}

/* Header styles */
.cover {
  background: url(Assets/wedding-cover.jpg) no-repeat 70% center/cover;
  height: 100vh;
  width: 100vw;
  display: table;
  text-align: center;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

.main-data {
  background-color: hsla(100,0%,0%,.6);
  color: hsla(0,0%,100%,.9);
  margin: 0 auto;
  padding: 0.5rem;
}

h1 {
  color: #d2ba87;
  font-size: 3rem;
  margin-bottom: 0; /* To negate the effect of the single-direction margin declaration!! */
}

.tagline {
  font-size: 1.3rem;
  letter-spacing: .15rem;
}

.tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12rem;
  margin: .5rem auto;
}

.date {
  font-size: 1.2rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

.date::after, .date::before {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: .5px;
  width: 1.5rem;
  margin: 0 .5rem;
  vertical-align: middle;
}

@media (min-width: 768px) {
  
  .cover {
    background: url(Assets/wedding-cover.jpg) no-repeat center/cover;
  }
  
  .tagline {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1rem;
  }
  
  h1 {
    font-size: 4rem;
  }
  
  .main-data {
    margin: auto 10rem;
    border-radius: 4px;
    padding: 1.25rem;
  }
  
}

@media (min-width: 1440px) {
  
  .tagline {
    font-size: 1.5rem;
  }
  
  h1 {
    font-size: 7rem;
  }
  
  .main-data {
    margin: auto 25rem;
  }
  
}

/* main/locations styles */
.places img {
  width: 6rem;
}

.places h3 {
  font-weight: 700;
}

.location div {
  font-family: 'Mulish', sans-serif;
  line-height: 0.5rem;
}

.places::after {
  display: block;
  content: "";
  background-color: hsla(100,0%,0%,.6);
  height: .1rem;
  width: 9rem;
  margin: 1.5rem auto;
}

@media (min-width: 768px) {
  
  .places {
    display: inline-block; /* 3 oszlopos layouthoz */
    width: 30%;
    font-size: 1rem;
  }
  
  .places::after {
    display: none;
  }
  
  .places h3 {
    padding: .8rem;
    
  }
  
}

@media (min-width: 1440px) {
  
  .places img {
    width: 7.5rem;
  }
  
}

/* main/program styles */
.program {
  background-color: hsla(100,0%,0%,.6);
  width: 100vw;
  color: #d2ba87;
  font-family: 'Mulish', sans-serif;
  padding: 1rem;
}

.timetable {
  text-align: left;
  margin: auto 1rem;
}

ul {
  line-height: 1.4rem;
  margin-top: 1rem;
}

.timetable p {
  line-height: 1.2rem;
  font-style: italic;
  font-weight: 700;
}

.program h2 {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  
  .timetable {
    width: 35vw;
    margin: 0 auto;
  }
  
  li {
    line-height: 1.8rem;
  }
  
}

/* main/gifts styles */

.gifts img {
  width: 6rem;
}

.gifts p:last-child {   /* To even out the bottom and top margins of this section. */
  margin-bottom: 0;
}

/* main/Q&A */
.QandA {
  background-color: hsla(100,0%,0%,.6);
  width: 100vw;
  color: #d2ba87;
  text-align: center;
}

.QandA p {
  text-align: left;
}

.question {
  font-weight: 700;
}

.important-information::after {
  display: block;
  content: "";
  background-color: #d2ba87;
  height: .08rem;
  width: 12rem;
  margin: 2rem auto;
}

@media ( min-width: 768px) {
  
  .important-information {
    display: inline-block;
    width: 30%;
    vertical-align: top; /* egymáshoz igazítja az oszlopokat felül! */
    padding: 1.5rem;
    margin: .5rem;
    font-size: 1rem;
  }
  
  .important-information::after {
    display: none;
  }
  
  .important-information h3 {
    text-align: left;
  }
  
}

/* footer styless */

footer {
  display: table;
  text-align: center;
  height: 6.5rem;
  background-color: #606060;
  color: #fff;
  width: 100%;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem .5rem;
}

footer p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  
  footer {
    height: 4rem;
  }
  
  .footer-wrapper p {
    font-size: .8rem;
  }
  
}