/* General styles */
* {
  box-sizing: border-box;
}

/* Header styles */
.cover {
  background: url(Assets/wedding-cover.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: table;
  text-align: center;
}

.main-data {
  vertical-align: middle;
  padding: 2rem;
  background-color: yellow;
}